$blur: 20px;
$shadow-opacity: 0.3;
$color-background: #38393f;
$color-secondary: #06845b;

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Slabo 27px", serif;
  background: url(/img/mario-bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: $color-background;
  min-height: 100%;
}

form {
  padding: 20px;
  margin-top: 30px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input.timepicker:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: $color-secondary;
  box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input.timepicker:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: $color-secondary !important;
}

.btn-form {
  background-color: $color-secondary;
}

.btn-form-dark {
  background-color: $color-background;
}

.btn-form-dark:hover {
  background-color: green;
}

.logo-letter {
  color: $color-background;
}

.brand-logo {
  font-family: "Righteous", cursive;
}

.nav-sched {
  background-color: $color-secondary;
}

.collection {
  background-color: #fff;
}

.employee-list-item {
  color: #38393f;
}

.day-row {
  height: 50px;
  margin: 0px;
  padding: 0px;
}

.timepicker {
  width: 300px;
}

.card,
.collection {
  margin-top: 30px;
}
