$blur: 20px;
$shadow-opacity: 0.3;
$color-background: #38393f;
$color-secondary: #06845b;
$color-title: #49d1a4;

html {
  min-height: 100%;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Slabo 27px", serif;
  background: url(/img/mario-bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: $color-background;
  min-height: 100%;
}

form {
  padding: 20px;
  margin-top: 20px;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input.timepicker:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: $color-secondary;
  box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input.timepicker:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: $color-secondary !important;
}

h5 {
  margin: 8px;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-form {
  background-color: $color-secondary;
}

.btn-form-dark {
  background-color: $color-background;
}

.title-first,
.title-second {
  text-shadow: 2px 2px 4px black;
}

.title-second {
  color: $color-title;
}

.brand-logo {
  font-family: "Righteous", cursive;
}

.nav-sched {
  background-color: $color-secondary;
}

.collection {
  background-color: #fff;
}

.employee-list-item {
  color: #38393f;
}

.timepicker {
  width: 300px;
}

.card,
.collection {
  margin-top: 20px;
}

.ava-text {
  font-size: 20px;
}

.employee-btn {
  position: absolute;
  right: 16px;
}
